@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-slide-in-right: slideInRight 1s ease-in-out forwards;
  --animate-slide-in-left: slideInLeft 1s ease-in-out forwards;
  --animate-slide-in-top: slideInTop 1s ease-in-out forwards;
  --animate-marquee: marquee 10s linear infinite;
  --animate-opacity: opacityE 2s ease-in-out;
  --animate-opacity-bg: opacityE 3s ease-in-out;
  --animate-border: border 3s ease-in-out;
  --animate-border-full: border-full 3s infinite;
  --animate-text: typing 3s steps(20) forwards, blink 1s infinite;
}

@keyframes typing {

  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }

}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

@keyframes border-full {

  to {
    --border-angle: 360deg;
  }
}

@keyframes border {
  from {
    transform: scaleX(0);
  }

  to {

    transform: scaleX(1);
  }

}

@keyframes opacityE {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(150%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-150%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #080707;
    --foreground: #ededed;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}